.bm-burger-button {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 30px;
  top: 20px;
  z-index: 2;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #ffffff;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: absolute !important;
  top: 0 !important;
  height: 150vh !important;
  position: fixed;
}

/* General sidebar styles */
.bm-menu {
  overflow: hidden !important;
  background: #949eb1;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  padding-left: 2rem;
}

.menu-icon {
  padding-right: 12px;
}

/* Individual item */
.bm-item {
  color: #ffffff;
  display: inline-block;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  margin-top: 1.5rem;
}

.bm-item:hover {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  position: absolute !important;
  top: 0 !important;
  height: 150vh !important;
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 800px) {
  .bm-burger-button {
    top: 25px;
    left: 20px;
    width: 30px;
    height: 30px;
  }
}
