a {
  color: rgb(73, 73, 73);
  text-decoration: none;
}

a:hover {
  color: rgba(2, 63, 177, 0.938);
}

.section-wrapper {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  min-height: 45vw;
  padding-bottom: 4%;
}

.section-text {
  position: relative;
  padding: 0 2rem;
  width: 30%;
}

.section-link {
  margin: 0;
}

.section-header {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  letter-spacing: 0.5px;
  color: rgb(53, 53, 53);
  margin: 1.8em 0;
}

.section-title,
.github-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
  letter-spacing: 0.5px;
  color: rgb(75, 75, 75);
  margin-bottom: 0;
}

.github-title {
  margin-top: 0;
}

.section-detail {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1vw;
  line-height: 2.1vw;
  letter-spacing: 0.875px;
}

.tech-stack {
  padding: 0%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
}

ul {
  list-style-type: none;
}

.tech-item {
  height: 4vw;
  margin-top: 0.5em;
  padding-right: 1em;
}

.section-image {
  width: 58%;
}

.laptop-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 13%;
  width: 60%;
}

.laptop-frame {
  position: absolute;
  width: 92%;
}

.laptop-screen {
  width: 71%;
  position: relative;
  padding-top: 10%;
  right: 10.5%;
}

.c-img {
  height: 96%;
  border-radius: 5px;
}

.mobile-image {
  height: 50vw;
}

@media screen and (max-width: 800px) {
  .accordion {
    min-height: 80px;
    display: flex;
    align-items: center;
    background: #f4f4f4;
  }

  .accordion-item {
    width: 100%;
    min-height: 80px;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(99, 99, 99);
  }

  .dropdown-icon {
    margin: 0px 10px;
  }

  .accordion-heading {
    background: lightseagreen;
  }

  .accordion-button {
    background: lightskyblue;
  }

  .accordion-panel {
    background: lime;
  }

  .section-wrapper {
    flex-direction: column;
    padding: 10px 0;
    min-height: 100vh;
    width: 100vw;
    margin: 2px 0;
    overflow: hidden;
  }

  .section-text {
    width: 90%;
  }

  .section-header {
    text-align: center;
    font-size: 27px;
  }

  .section-title,
  .github-title {
    font-size: 20px;
    letter-spacing: 0.5px;
  }

  .section-link {
    font-size: 18px;
  }

  .section-detail {
    font-size: 15px;
    line-height: 25px;
  }

  .tech-stack {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
  }
}
