.section-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding-bottom: 5vw;
}

.section-text {
  padding: 0 2rem;
}

.tech-stack {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
}

ul {
  list-style-type: none;
}

.tech-stack > li > img {
  height: 100px;
}

.section-image {
  width: 58%;
}

.section-footer-wrapper {
  justify-content: center;
}
