.projects-header-container {
  display: none;
}

@media screen and (max-width: 800px) {
  .projects-header-container {
    display: unset;
  }
  .projects-header {
    color: white;
    background: rgba(65, 118, 196, 0.685);
    padding-left: 10px;
    margin: 0;
    line-height: 80px;
  }
}
