.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.footer-image {
  width: 800px;
}

@media screen and (max-width: 800px) {
  .footer-image {
    width: 500px;
  }
  .footer-wrapper {
    height: 100vh;
  }
}
