.list-logo {
  filter: grayscale(0%);
}

.list-logo:hover {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  filter: grayscale(100%);
}

.container {
  padding-top: 8vh;
  height: 95vh;
  text-align: center;
  overflow: hidden;
  margin: 0%;
  padding-left: 10%;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . l21 l7  l8  l9  l10 l11 l12 . .  "
    ". . l1  grid-image grid-image grid-image grid-image grid-image   l13 . . "
    ". . l2  grid-image grid-image grid-image grid-image grid-image   l14 . ."
    ". . l3  grid-image grid-image grid-image grid-image grid-image l15 . ."
    ". . l4 grid-image grid-image grid-image grid-image grid-image  l16 . ."
    ". . l5  grid-image grid-image grid-image grid-image grid-image  l17 . ."
    ". . l6  grid-image grid-image grid-image grid-image grid-image   l18 . ."
    ". . . . l19 .  .  l20 . . . ";
}
.grid-image {
  grid-area: grid-image;
  width: 38vw;
  height: 60vh;
}

.l2 {
  grid-area: l2;
}
.l4 {
  grid-area: l4;
}
.l6 {
  grid-area: l6;
}
.l7 {
  grid-area: l7;
}
.l8 {
  grid-area: l8;
}
.l9 {
  grid-area: l9;
}
.l10 {
  grid-area: l10;
}
.l11 {
  grid-area: l11;
}
.l15 {
  grid-area: l15;
}
.l17 {
  grid-area: l17;
}
.l20 {
  grid-area: l20;
}
.l16 {
  grid-area: l16;
}
.l14 {
  grid-area: l14;
}
.l13 {
  grid-area: l13;
}
.l12 {
  grid-area: l12;
}
.l18 {
  grid-area: l18;
}
.l5 {
  grid-area: l5;
}
.l3 {
  grid-area: l3;
}
.l1 {
  grid-area: l1;
}
.l19 {
  grid-area: l19;
}

.l21 {
  grid-area: l21;
}

.mobile-container {
  display: none;
}

@media screen and (max-width: 800px) {
  .container {
    display: none;
    height: 100vh;
    padding: 0;
    margin: 0;
  }

  .mobile-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .mobile-logo-list {
    padding: 0;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
  }

  .mobile-logo {
    margin-right: 20px;
    margin-top: 10px;
  }

  .grid-image {
    margin-top: -130px;
    width: 80vw;
    height: 60vh;
  }
}
