.banner-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.laptop-logo {
  height: 100px;
  width: auto;
}

.banner-header {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 25px;
  color: #333333;
}

.banner-subheader {
  font-family: 'Baloo Tammudu 2', cursive;
  margin-top: 0;
  font-size: 18px;
  color: #333333;
}

@media screen and (max-width: 800px) {
  .banner-wrapper {
    height: 100vh;
    padding-top: 40px;
  }
}
