.banner-wrapper {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.laptop-logo {
  height: 12%;
  width: auto;
}

.banner-header {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
  font-size: 1.5vw;
  color: #333333;
}

.banner-subheader {
  font-family: 'Baloo Tammudu 2', cursive;
  margin-top: 0;
  font-size: 1vw;
  color: #333333;
}
